body {
    margin: 0px;
    font-family: sans-serif;
    font-size: 30px;
}

section{
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

/* Body Header */

#body-header {
    height: 65vh;
    opacity: 0.8;
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg);
    /*background-image: url(D:/Coding Ninjas/Web Development/Resume Building/images/skills.jpg);*/
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Horizontal Lists */

.horizontal-list {
    list-style: none;
    padding-left: 0%;
    margin: 0%;
}

.horizontal-list li {
    display: inline-block;
    margin: 20px 8px 8px 0px;   
}


.horizontal-list li a {
    color: white;
    text-decoration: none;
    font-size: 0.5em;
    transition: color 0.5s, border-bottom 4s;
}

.horizontal-list li a:hover {
    color: lightgrey;
    font-size: 0.5em;
    border-bottom: 1px solid white;
}

.text-center {
    text-align: center;
}

#heading{
	font-size: 3rem;
	letter-spacing: 0.1rem;
	font-weight: 700;
    color: white;
    position: relative;
    top: 25%;
    /*margin-bottom: 0.5rem;*/
}

#socials{
margin-top: 20vh;
    /*left: 10px;*/
    margin-left: -4%;

}

.social-list{
    display: inline-block;
    /*margin-left: 30px;*/
    color: white;
   
}


.social-list a i{
	font-size: 1.2rem;
    padding 10px;
    margin-left: 15px;
    border-radius: 50%;
    color: white;
}

.social-list a i:hover{
	font-size: 1.2rem;
    color: lightgrey;
    padding: 10px;
    margin-left: 0.5rem;
    box-shadow: 0px 0px 6px 2px lightgrey;
    transform: color .5s;
}



#my-image img{
	height: 8em;
	width: 8em;
	border-radius: 50%;
	position: relative;
	left: 0em;
	margin-top: -3em;
    margin-bottom: 0em;
	border: 2px solid white;
	box-shadow: 0px 0px 5px 4px white;
}



.itl{
    color: brown;
}
.gif-parent{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 80%;
    height: 70%;
    /*border: 2px solid black;*/
    margin-top: 1em;
    justify-content: space-around;
    align-items: center;
}


#about-para{
    width: 70%;
    font-size: 1em;
}


/*.gif img:nth-child(2n){
    position: relative;
    width: 230px;
    height: 230px;
    display: inline-block;
    margin: 0px;
    right: -30%
    top: -60%;
    margin-bottom: -40%;
}*/


section:nth-child(2n){
    background-color: #ffffff;
    /*background: linear-gradient(#f4f562, #f0a00a);*/

}
section:nth-child(2n+1){
    /*background: linear-gradient(to top left, #FFFfff, #9b9b9b);*/
    background-color:rgba(185,212,219, 0.3);
    /*#ebffff, #e8e8e8*/
}

.section-heading{
    display: inline-block;
    text-align: center;
    color: indigo;
    
    /*display: inline-block;*/
}
.fas{
    padding:10px 30px 10px 0px;
}


.skill-progress{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.sk-marg{
    display: inline-block;
    margin-bottom: 3em;
    margin-top: 0.5em;
}


.skill-lang{
    width: 30%;
    height: 1em;
    border-radius: 10px;
    background-color: lightgrey;
    margin-bottom: 5vh;
    margin-top: 3vh;
}
.lang-text{
    position: relative;
    left: 2em;
    top: -0.5em;
    color: white;
    font-size: 0.5em;
    text-decoration: none;
}

.eighty-percent{
    width: 80%;
    height: 1em;
    border-radius:10px;
}

.sixty-percent{
    width: 60%;
    height: 1em;
    border-radius: 10px;
}

.ninety-percent{
    width: 90%;
    height: 1em;
    border-radius: 10px;
}

.cpp{
    background: linear-gradient(to right, #ffcb52, #ff7b02); 
}

.java{
    background:  linear-gradient(to right, #c165dd, #5c27fe);
}

.html{
    background: linear-gradient(to right, #00f7a7, #04f5ed);
}

.css{
    background: linear-gradient(to right, #1de5e2, #b588f7);
}

.js{
    background: linear-gradient(to right, #534666, #cd7672);
}

.python{
    background: linear-gradient(to right, #184e68, #57ca85);   
}

.dbms{
    background: linear-gradient(to right, #65799b, #5e2563);
}

.git{
    background: linear-gradient(to right, #dc8665, #534666);
}

.pf-heading{
    color: indigo;
}

.portfolio-parent{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 3vh;
    margin-bottom: 5vh;
}

.common-trait{
    width: 20%;
    height: 20%;
}

.fa-dice{
    color: orange;
}

.fa-ship{
    color: brown;
}

.pf-color{
    text-decoration: none;
    color: lightgrey;

}

.pf-color:hover{
    font-size: 110%;
    transition: font-size 0.2s;
}

#contact{
    background-image: linear-gradient(to top right, blue, indigo);
}

.contact-parent{
    display: flex;
    width: 80%;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    /*border: 2px solid black*/
}

.contact-heading{
    color: white;
    position: relative;
    text-align: center;
}


.form-div{
    width: 45%;
    height: 100%;
    margin-top: 1em;
}

.form-class{
    border: none;
    background-color: inherit;
    padding: 10px 100px 10px 100px;
    margin-bottom: 30px;
    border-bottom: 2px solid white;
    /*display: block;*/
}



.get-in{
    color: white;
    width: 45%;
    height: 100%;
    margin-top: 1em;
    /*top: -10%;*/
    /*left: 15%;*/
}

.get-in-heading{
    margin-left: 3em;
    font-size: 0.8em;
}

.address{
    margin-top: 1em;
    margin-left: 5em;
    font-size: 0.5em;
}

.bottom-link li{
    display: inline-block;
    margin-top: 1em;
    margin-left: 2em;
    font-size: 0.8em;
}

.but-cls{
    border: 2px white solid;
    background-color: inherit;
    padding: 5px 80px 5px 80px; 
    margin-top: 2em;
}

.but-cls:hover{
    background-color: orange;
}

.send-msg{
    color: white;
    font-family: monaco;
}

.ic{
    color: white;
}


.on-top button{
    padding: 10px 20px 10px 20px;
    background-color: inherit;
    border-radius: 2px;
    border: 2px solid white;
    margin-top: 5em;
}

.on-top a button {
    color: white;
    text-decoration: none;
    font-family: monaco;
}

.on-top button:hover{
    background-color: orange;
}

.exp-heading{
    color: indigo;
    position: relative;
    margin-top: 5px;
    font-size: 1em;
    /*margin-bottom: 30px;*/
}

.timeline{
    width: 75%;
    height: 85%;
    margin-top: 1em;
    /*border: 2px solid black;*/
}

.timeline-box{
    position: relative;
    width: 40%;
    left: 5px;
    min-height: 120px;
    margin:5px;
    /*border: 2px solid black;*/
}

.timeline-box:nth-child(2n){
    left: 55%;
}

.timeline-box:nth-child(2n+1)::before{
    content: '';
    background-color: orange;
    position: absolute;
    right: -24.5%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.timeline-box:nth-child(2n)::before{
    content: '';
    background-color: orange;
    position: absolute;
    left: -14%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.timeline-divider{
    position: absolute;
    width: 0%;
    height: 70%;
    border:  2px solid orange;
    top: 250%;
    left: 50%;
}

.traveller{
    position: sticky;
    margin-top: -40px;
    top: 0%;
    transform: rotate(90deg);
}

.cp-logo{
    width: 2em;
    height: 2em;
    position: relative;
    left: 25px;
    top: 10px;
    border-radius: 27px;
}

.cp-name{
    font-size: 0.8em;
    text-align: center;
    position: relative;
    margin-bottom: 10px;
    left: 65px;
    top: -23px;
    font-family: monaco;
}

.cp-logo1{
    width: 2em;
    height: 2em;
    position: relative;
    left: 25px;
    top: 10px;
    border-radius: 27px;
}

.cp-name1{
    font-size: 0.8em;
    text-align: center;
    position: relative;
    margin-bottom: 10px;
    left: 65px;
    top: -23px;
    font-family: monaco;
}


.para1{
    font-size: 0.5em;
    position: relative;
    /*text-align: center;*/
    left: 25px;
}

.date{
    position: relative;
    font-size: 0.4em;
    left: 70%;
    top: 10px;
    
}

.para2{
    font-size: 0.5em;
    position: relative;
    /*text-align: center;*/
    left: 25px;
}

.date2{
    position: relative;
    top: 10px;
    left: 230px;
}

.para3{
    font-size: 0.5em;
    position: relative;
    left: 30px;
}

.date3{
    position: relative;
    font-size: 0.4em;
    top: 15px;
    left: 70%;
    /*overflow: scroll;*/
}

.date4{
     position: relative;
    top: 15px;
    left: 20px;
    overflow: scroll;
}

.timeline2{
    width: 80%;
    height: 80%;
    /*border: 2px solid black;*/
}

.timeline-box2{
    width: 40%;
    position: relative;
    left: 15px;
    min-height: 165px;
    /*border: 2px solid black;*/
}

.timeline-box2:nth-child(2n){
    left: 58%;
}

.timeline-box2:nth-child(2n+1)::before{
    content: '';
    background-color: orange;
    position: absolute;
    right: -23.4%;
    top: 8%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.timeline-box2:nth-child(2n)::before{
    content: '';
    background-color: orange;
    position: absolute;
    left: -20.8%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.date5{
    position: relative;
    left: -5px;
    font-size: 0.5em;
    top: 28px;
}

.para1-ed{
    font-size: 0.5em;
}

.place{
    position: relative;
    left: 79px;
    top: -8px;
}


.timeline-divider1{
    position: absolute;
    width: 0%;
    height: 70%;
    left: 50%;
    top: 335%;
    border: 2px solid orange;
}

.timeline-car{
    position: sticky;
    /*  margin-top: 20px;*/
    margin-top: -40px;
    top: 0%;
    transform: rotate(90deg);
}


@media screen and (max-width: 1100px){

    #my-image img{
    height: 8em;
    width: 8em;
    border-radius: 50%;
    position: relative;
    left: 0%;
    margin-top: -3em;
    margin-bottom: 0em;
    border: 2px solid white;
    box-shadow: 0px 0px 5px 4px white;
}


#about-para{
    width: 70%;
    position: relative;
    top: 0%;
    text-align: center;
    font-size: 1em;
}

    .exp-heading{
        font-size: 0.8em;
    }

.timeline-divider{
    
    width: 0%;
    height: 70%;
    top: 250%;
    left: 12%;
}

.traveller{
    position: sticky;
    margin-top: -40px;
    top: 0%;
    transform: rotate(90deg);
}

.timeline-box:nth-child(2n){
    left: 20%;
    width: 60%;
}
.timeline-box:nth-child(2n+1){
    left: 20%;
    width: 60%;
}

.timeline-box:nth-child(2n+1)::before{
    content: '';
    background-color: orange;
    position: absolute;
    right: 133.5%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.timeline-box:nth-child(2n)::before{
    content: '';
    background-color: orange;
    position: absolute;
    left: -37%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.cp-logo{
    width: 1em;
    height: 1em;
    position: relative;
    left: 25px;
    top: 10px;
    border-radius: 27px;
}

.cp-name{
    font-size: 0.5em;
    /*text-align: center;*/
    position: relative;
    margin-bottom: 10px;
    left: 10%;
    top: -23px;
    font-family: monaco;
}

.timeline-box{
    width: 80%;
    margin-bottom: 0.5em;
    border-bottom: 1px solid orange;
}

.date3{
    position: relative;
    top: 0px;
    left: 150px;
    overflow-wrap: break-word;
}

.date2{
    position: relative;
    top: 10px;
    left: 20px;
}

.date{
    position: relative;
    font-size: 0.4em;
    left: 13em;
    top: 10px;
    
}

.timeline-box2:nth-child(2n){
    left: 20%;
    border-bottom: 1px solid orange;
}

.timeline-box2:nth-child(2n+1){
    left: 20%;
    border-bottom: 1px solid orange;
}

.timeline2{
    width: 80%;
    height: 85%;
    /*border: 2px solid black;*/
}

.timeline-box2{
    width: 80%;
    position: relative;
    margin-top: 0.8em;
    top: -10px;
    /*border: 2px solid black;*/
}

.timeline-divider1{
    position: absolute;
    width: 0%;
    height: 70%;
    left: 12%;
    top: 335%;
    border: 2px solid orange;
}

.para1-ed{
    position: relative;
    left: 10%;
    top: -0em;
    overflow-wrap: break-word;
    font-size: 0.5em;
}

.cp-logo1{
    width: 1em;
    height: 1em;
    position: relative;
    left: 25px;
    top: 10px;
    border-radius: 27px;
}

.cp-name1{
    font-size: 0.5em;
    /*text-align: center;*/
    position: relative;
    /*margin-bottom: 10px;*/
    left: 12%;
    top: -15px;
    font-family: monaco;
}

.date5{
    position: relative;
    font-size: 0.5em;
    left: 35px;
    top: 0px;
}

.timeline-box2:nth-child(2n+1)::before{
    content: '';
    background-color: orange;
    position: absolute;
    right: 120.3%;
    top: 8%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.timeline-box2:nth-child(2n)::before{
    content: '';
    background-color: orange;
    position: absolute;
    left: -22.5%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
}
